@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: "Reddit Sans", sans-serif;
  }

#app {
    font-family: "Reddit Sans", sans-serif;
}

#backdrop{
  backdrop-filter: blur(5px);
}

.fade-enter-active, .fade-leave-active { transition: opacity .75s; }
.fade-enter-from, .fade-leave-to { opacity: 0; }
.fade-enter-to, .fade-leave-from { opacity: 1; }